/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
	text-align: center;
}

.container {
	padding: 0;
	margin-top: 40px;
  text-align: center;
}

#panel {
  background-color: #FFF;
  width: 400px;
  padding: 20px;
  display: inline-block;
  text-align: left;
  border: 1px solid #000;
  overflow: hidden;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
/****** Logo Div Styling ******/

img {
	margin: 20px auto 0 auto;
	display: block;
}